<h1><%= @dish.name %>'s Page</h1>
<h2>Description: <%= @dish.description %></h2>
<small><b>Dish By: <%= @dish.chef_name %>

<h2>Ingredients:</h2>
<ul>
  <% @dish.ingredients.each do |ingredient| %>
    <div id="ingredients-<%= ingredient.id %>">
      <li><%= ingredient.name %></li>
      <small>calories: <%= ingredient.calories %></small>
    </div>
    <br>
  <% end %>
</ul>
<li><%= @dish.name %>'s Total Calories: <%= @dish.total_calories %></li>